.fm-body {
  margin: 20px;
}
#top-menu {
  padding: 0 20px;
}
#top-menu-right {
  padding-top: 3px;
}
.bar {
  height: 18px;
  background: green;
}
#treeview .k-sprite {
  background-image: url("/img/mediabox/coloricons-sprite.png");
}
.rootfolder {
  background-position: 0 0;
}
.folder {
  background-position: 0 -16px;
}
.buf_object {
  padding: 3px;
}
.files-actions li {
  position: relative;
  top: 4px;
}
#image-actions li,
.files-simple-actions li,
#back,
#advanced-overlay-back,
#saveCrop,
#clearCrop,
#addTag {
  margin-right: 20px;
  cursor: pointer;
}
.fname,
.fullname {
  line-height: 14px;
  font-size: 13px;
}
.file_icon_size {
  color: #777;
}
.dfile {
  font-size: 12px;
}
.fm_file,
.fm_dirs,
.fm_dirs_up {
  float: left;
  width: 130px;
  padding: 1px;
  height: 120px;
  margin-right: 5px;
}
.icons {
  overflow: hidden;
  padding: 4px 4px 0;
}
/*background-color: #FFFFFF; border: 1px solid #CCCCCC; */
.icons img {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 5px;
  height: 60px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.fm_file_li {
  text-align: left;
  height: 26px;
  overflow: hidden;
}
.fm_file_li > div {
  padding: 4px 4px 0 4px;
  height: 26px;
}
.fm_unsellabel,
.fm_sellabel {
  overflow: hidden;
}
.actions {
  display: none;
}
#header {
  position: static;
  top: 0;
  width: 100%;
  height: 28px;
}
#treeview,
#imageview {
  overflow: auto;
  padding: 10px 0;
}
#treeview .k-group {
  background-color: transparent;
  margin: 0;
}
#imageview {
  width: auto;
  line-height: 24px;
}
#treeview .k-state-selected {
  color: #000;
}
#main-menu {
  padding-left: 10px;
}
#advanced-panel {
  border: 1px solid #EEEEEE;
  height: 400px;
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 1000;
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.15);
  overflow: auto;
  display: none;
}
#advanced-panel-left .advanced-panel-div {
  cursor: pointer;
}
.advanced-panel-div {
  height: 36px;
  width: 50px;
}
.advanced-panel-div > i {
  position: relative;
  left: 15px;
  top: 10px;
}
.adv-menu-div {
  width: 443px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.advanced-height {
  height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}
#fs-menu {
  border: 0;
}
#fs-menu a,
#fs-menu a:hover {
  text-decoration: none;
}
.adv-menu-img {
  position: relative;
  left: 5px;
  padding-right: 5px;
}
.check-type {
  position: relative;
  top: -4px;
}
#player-controls {
  padding: 4px;
  /*height: 120px;*/
}
#track-main-info {
  padding: 2px 6px;
}
#current-track {
  float: left;
  width: 150px;
  height: 22px;
  margin: 2px 10px 5px 0;
  line-height: 13px;
  padding: 0 10px;
  font-size: 11px;
}
.droptarget {
  height: auto;
  width: auto;
}
.sort > span {
  font-size: 10px;
  cursor: pointer;
  padding: 1px 10px;
}
.structure {
  overflow: hidden;
  margin: 10px 0 0 10px;
}
#preview {
  border-radius: 0;
}
#preview-scroll {
  padding: 0 5px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0;
  width: 100%;
}
.fs-type div > i,
.fs-type li > span {
  cursor: pointer;
}
.fs-footer-menu {
  font-size: 11px;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}
.track {
  min-height: 24px;
  overflow: hidden;
  cursor: pointer;
}
/*.track:hover{background-color: #777;}*/
.track-title {
  float: left;
  padding-top: 4px;
}
.track-duration {
  float: right;
}
.dname_li,
.file_list_date {
  float: right;
  color: #AAA;
  text-align: right;
  width: 180px;
}
.ddate_li,
.file_list_size {
  float: right;
  padding-right: 5px;
  color: #AAA;
  text-align: right;
  width: 80px;
}
.fm_ajax-loader {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("/img/mediabox/loading-image.gif") 320px 40px no-repeat;
}
.fm_pre {
  margin-bottom: 3px;
}
.image-crop,
.image-tag,
.tagAll,
.cropAll {
  margin: 2px 4px;
  font-size: 10px;
}
.image-crop,
.tagAll,
.cropAll {
  cursor: pointer;
}
#image-comment-form {
  overflow: hidden;
  margin: 10px 0;
}
#image-comment-editor {
  height: 67px;
  width: 312px;
}
#image-comment-save {
  margin: 5px 0;
}
#preview-div-img {
  margin-top: 10px;
  text-align: center;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.15);
}
#image-meta > div,
#image-cloud > div,
#video-meta > div {
  float: left;
  margin-left: 15px;
}
.bufferFile {
  margin: 5px 0;
  overflow: hidden;
}
#playerButtons div {
  font-size: 11px;
  position: relative;
  top: 2px;
}
.bufferFile .ico {
  float: left;
  height: 15px;
  padding: 3px 4px 0 0;
}
.bufferFile .left {
  float: left;
  padding-top: 3px;
  overflow: hidden;
}
.bufferFile .right {
  float: right;
  overflow: hidden;
}
#player-footer {
  position: fixed;
  bottom: 0;
  width: 218px;
}
/*#left-footer {position: fixed; bottom: 0; width: 100%;}*/
.structure-img-fs {
  overflow-y: auto;
}
.playlist-track-current {
  font-weight: bold;
}
.one_folder {
  font-weight: bold;
}
#clearBuffer {
  margin-bottom: 5px;
}
#pl-audio {
  font-size: 12px;
  height: 255px;
  overflow-y: auto;
  min-width: 200px;
}
#headerMenu {
  overflow: hidden;
  padding: 5px 20px 0;
}
#headerMenu i {
  color: black;
  font-size: 14px;
  padding: 5px;
}
#headerMenu div {
  margin-right: 10px;
}
#headerMenu a {
  text-decoration: none;
}
#plMenu {
  border: 0;
  background: none;
}
.left-section {
  width: auto;
  height: auto;
  padding: 4px 10px;
}
.left-section > div {
  padding: 3px 0;
}
.left-section a {
  cursor: pointer;
}
.f-list-alt {
  background-color: #F1F4F4;
}
.f-file-select {
  background-color: #D1E4EF;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #D6DEDE;
}
.perc,
.percDropdown {
  overflow-y: auto;
  padding-right: 20px;
  max-height: 300px;
  width: 370px;
}
/* word-wrap */
.name,
.track-title,
#current-track,
.bufferFile .left,
.uploader-long-name,
.imageCommentText {
  /* kendo .k-filename { white-space: nowrap; } */
  /*  white-space: normal;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;*/
  word-wrap: normal;
  color: #00407D;
  font-size: 12px;
}
.parent_popup {
  display: none;
  color: #FFF;
  height: 100%;
  background-image: url('/css/mediabox/img/overlay.png');
  background-repeat: repeat;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}
#fs-top-menu li.dropdown > a,
#fs-top-menu #fs-second-panel a {
  color: #0067C9;
}
#fs-top-menu li.dropdown > a:hover,
#fs-top-menu #fs-second-panel a {
  color: #00407D;
}
#file-context-menu,
#folder-context-menu,
#file-trash-context-menu,
#folder-trash-context-menu {
  position: absolute;
  display: none;
}
.download > .name {
  color: #FFF;
  text-decoration: underline;
}
#image-cloud a.dropdown-toggle {
  color: #FFF;
  cursor: pointer;
}
#image-cloud .caret {
  border-top: 4px solid #FFFFFF;
}
#image-crops,
#image-tags,
#image-comments {
  color: #000;
  text-align: center;
  padding: 5px;
}
#image-comments ul.dropdown-menu > li > a {
  color: #000;
}
.dropdown-menu a {
  color: #000;
}
.upload-status {
  height: 10px;
  width: 300px;
  border: 1px solid #CCC;
  padding: 1px;
}
.upload-status-progress {
  height: 10px;
  background-color: #6CC51F;
}
/*kendo*/
.k-block > .k-header,
.k-window-titlebar {
  border-bottom: 0px none;
}
.k-upload-button {
  width: 120px;
}
.k-upload-button > span {
  font-size: 13px;
}
.k-filename {
  width: 310px;
  max-width: none;
}
.k-progress {
  width: 300px;
}
.k-upload-files .k-button {
  float: right;
  padding-top: 18px;
}
