<nav id="mainnav">
    <div class="container">
        <h1 class="xvidMediaBox_25px h1logo">Xvid MediaBox</h1>
    </div>
</nav>

<section class="container">
</section>

<script data-main="/assets/js/common" data-slug="mediabox-users" src="/js/require.js"></script>