{% extends "fragments_shared/base.html" %}
{% block app_css %}
<link href="/assets/css/mediabox/mediabox.css" rel="stylesheet">
{% endblock %}
{% block title %}Xvid Mediabox{% endblock %}
{% block body_id %}id="mediabox-page"{% endblock %}
{% block navigation %}
{{ macros.top_navigation(0) }}
{% endblock %}

{% block content %}
{% include "navigation.html" %}
{% block mediabox_content %}
{% endblock %}

<input type="hidden" id="start_dir" value="{{ mediabox.startdir }}" />
<input type="hidden" id="storage" value="{{ mediabox.storage }}" />
<input type="hidden" id="is_nimbus_client" value="{{ mediabox.is_nimbus_client }}" />
<input type="hidden" id="volume-level" value="{{ mediabox.volume_level }}" />
<input type="hidden" id="buffer_count" value="" />
<input type="hidden" id="current-playlist" value="{{ mediabox.playlist }}" />

<input type="hidden" id="mediabox-check-type-other" value="{{ mediabox.check_type_other }}" />
<input type="hidden" id="mediabox-check-type-image" value="{{ mediabox.check_type_image }}" />
<input type="hidden" id="mediabox-check-type-video" value="{{ mediabox.check_type_video }}" />
<input type="hidden" id="mediabox-check-type-music" value="{{ mediabox.check_type_music }}" />

<input type="hidden" id="mediabox-view" value="{{ mediabox.view }}" />
<input type="hidden" id="mediabox-sort" value="{{ mediabox.sort }}" />

<input type="hidden" id="x1" />
<input type="hidden" id="x2" />
<input type="hidden" id="y1" />
<input type="hidden" id="y2" />

{% endblock %}


