.pagetree {
  margin: 0 0 0 -20px;
}
.plugin_pagetree_children_list {
  margin: 0;
  list-style: none;
  clear: both;
}
.plugin_pagetree_children_list li {
  clear: both;
  padding-left: 20px;
}
.plugin_pagetree_children_list .plugin_pagetree_childtoggle_container {
  float: left;
  width: 20px;
  height: auto;
}
.plugin_pagetree_children_list .plugin_pagetree_children_span {
  margin: 0;
  float: none;
}
.plugin_pagetree_children_list .plugin_pagetree_children_content {
  float: left;
  width: 85%;
}
