<nav id="mainnav">
    <div class="container">
        <h1 class="xvidMediaBox_25px h1logo">Xvid MediaBox</h1>

        <ul class="nav nav-pills">
            <li id="advanced-buffer-back">
                <a>
                    <i class="icon-remove"></i>&nbsp;<span>Back</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="container">

    <div id="splitter">
        <button class="k-button" id="clearBuffer"><i class="icon-trashempty"></i> Clear buffer</button>
        <div class="advanced-height">
            <div id="buffer"></div>
        </div>
    </div>

</section>

<script type="text/x-kendo-template" id="bufferFileTemplate">
    <div class='bufferFile' data-id='#: id #'>
        <img class="ico" src="#: ico #" alt="ico" />

        <div class="left">#: name #</div>

        <div class="right">
            <button data-id="#: id #" class="k-button deleteFileFromBuffer" title="delete from buffer"><i class="icon-remove"></i></button>
        </div>
    </div>
</script>