<div id="fs-menu">

    <div class="fs-type navbar" id="fs-all">
        <div class="navbar-inner" id="fs-top-menu">
            <ul id="fs-second-panel" class="nav">

                <li><a style="cursor: pointer;"><i class="icon-check fm_sel" style="margin-right: 20px;"></i></a></li>

                <li style="max-width: 420px; max-height: 34px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <!--<span id="current_path" style="position: relative; top: 8px;"></span>-->
                    <div id="current_path" class="btn-group btn-breadcrumb" style="padding: 0; margin-right: 10px;"></div>
                </li>

            </ul>

            <ul class="nav pull-right">
                <li>
                    <span style="position: relative; top: 8px; margin-right: 10px;">
                        [<span class="sizeFiles">0</span>]
                    </span>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" style="cursor: pointer;">
                        <i class="icon-list"></i>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="fs-view" data-id="grid"><a style="cursor: pointer;">Grid</a></li>
                        <li class="fs-view" data-id="list"><a style="cursor: pointer;">List</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" style="cursor: pointer;">
                        <i class="icon-sort"></i>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="fs-sort" data-id="name"><a style="cursor: pointer;">Sort by name</a></li>
                        <li class="fs-sort" data-id="size"><a style="cursor: pointer;">Sort by size</a></li>
                        <li class="fs-sort" data-id="date"><a style="cursor: pointer;">Sort by date</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" style="cursor: pointer;">
                        <i class="icon-gear"></i>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <label>
                                <input type="checkbox" class="check-type" name="check-type-other" value="other" />
                                <i class="adv-menu-img icon-file"></i> Other(<span id="typeOther"></span>)
                            </label>
                        </li>

                        <li>
                            <label>
                                <input type="checkbox" class="check-type" name="check-type-image" value="image" />
                                <i class="adv-menu-img icon-camera"></i> Images(<span id="typeImage"></span>)
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" class="check-type" name="check-type-video" value="video" />
                                <i class="adv-menu-img icon-film"></i> Video(<span id="typeVideo"></span>)
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" class="check-type" name="check-type-music" value="music" />
                                <i class="adv-menu-img icon-music"></i> Music(<span id="typeAudio"></span>)
                            </label>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>


        <div class="structure">
            <div class="fm_ajax-loader"></div>
            <!-- FILES -->

            <div id="fm_folders"></div>
            <div id="fm_files"></div>

            <!-- END FILES -->
        </div>
    </div>

</div>

<div id="file-context-menu" class="dropdown clearfix" data-id="" data-name="">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;">
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="open"><i class="icon-folder-open"></i> Open</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="download"><i class="icon-download-alt"></i> Download</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="rename"><i class="icon-edit"></i> Rename</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="copy"><i class="icon-copy"></i> Copy</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="remove"><i class="icon-remove"></i> Delete</a>
        </li>
    </ul>
</div>

<div id="folder-context-menu" class="dropdown clearfix" data-id="" data-name="">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;">
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="open"><i class="icon-folder-open"></i> Open</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="rename"><i class="icon-edit"></i> Rename</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="copy"><i class="icon-copy"></i> Copy</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="remove"><i class="icon-remove"></i> Delete</a>
        </li>
    </ul>
</div>

<div id="file-trash-context-menu" class="dropdown clearfix" data-id="" data-name="" data-path="">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;">
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="restore"><i class="icon-undo"></i> Restore</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="remove"><i class="icon-remove"></i> Delete</a>
        </li>
    </ul>
</div>

<div id="folder-trash-context-menu" class="dropdown clearfix" data-id="" data-name="" data-path="">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;">
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="restore"><i class="icon-undo"></i> Restore</a>
        </li>
        <li>
            <a tabindex="-1" style="cursor: pointer;" data-role="remove"><i class="icon-remove"></i> Delete</a>
        </li>
    </ul>
</div>