<div class="parent_popup" id="image-preview">

<div style="position: fixed; top: 0; margin: 0 auto; width: 100%;">

    <div id="image-second-panel" style="height: 20px; margin: 10px 10px 0;">
        <div id="image-meta">
            <div><b>Order:</b> <span class="order"></span></div>
            <div><a class="download" href="#"><span class="name"></span></a></div>
            <div><span class="resolution"></span></div>
            <div><span class="size"></span></div>
        </div>

        <div id="image-cloud" style="float: left;">
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Selected
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <div id="image-crops"></div>
                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Tags
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <div id="image-tags"></div>
                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Comments
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <div style="text-align: center;">
                        <a href="#" id="show-comment-window">Add comment</a>
                    </div>

                    <li>
                        <div id="image-comments"></div>
                    </li>
                </ul>
            </div>
        </div>

        <ul id="image-actions" class="nav nav-pills pull-right">
            <li id="back"><i style="margin-left: 50px; font-size: 12px;" class="icon-remove"></i>&nbsp;<span>Close</span></li>
        </ul>
    </div>

    <div id="preview-scroll" style="overflow: auto;">
        <div>
            <div>
                <div id="preview-div-img" class="k-widget" style="padding: 20px; margin: 5px auto;"></div>
            </div>

            <div id="crop-object" style="display: none;">
                <div class="control-group" id="div-crop-object-text">
                    <input type="text" id="crop-object-text" style="margin-top: 20px; width: 270px;">
                </div>
                <hr />
                <div style="text-align: right;">
                    <button id="crop-object-close" class="k-button">Cancel</button>
                    <button id="crop-object-save" class="k-button">Save</button>
                </div>
            </div>

            <div id="image-tag" style="display: none;">
                <div class="control-group" id="div-image-tag-text">
                    <input type="text" id="image-tag-text" style="margin-top: 20px; width: 270px;">
                </div>
                <hr />
                <div style="text-align: right;">
                    <button id="image-tag-close" class="k-button">Cancel</button>
                    <button id="image-tag-save" class="k-button">Save</button>
                </div>
            </div>

            <div id="new-comment-window" style="display: none;">
                <div id="image-comment-form">
                    <textarea id="image-comment-editor" class="k-content"></textarea>
                </div>
                <hr />
                <div style="text-align: right;">
                    <button id="image-comment-save" class="k-button">Save</button>
                    <button id="image-comment-close" class="k-button">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 28px; position: fixed; width: 100%; bottom: 0;">
        <ul class="nav nav-pills pull-left" style="margin-left: 20px;">
            <li id="saveCrop"><i style="font-size: 12px;" class="icon-crop"></i>&nbsp;<span>Save crop</span></li>
            <li id="clearCrop"><i style="font-size: 12px;" class="icon-crop"></i>&nbsp;<span>Clear crop</span></li>
            <li id="addTag"><i style="font-size: 12px;" class="icon-tag"></i>&nbsp;<span>Add tag</span></li>
        </ul>

        <ul id="image-actions" class="nav nav-pills pull-right" style="margin-right: 20px;">

            <li id="fullscreen"><i style="font-size: 12px;" class="icon-fullscreen"></i>&nbsp;<span>Fullscreen</span></li>
            <li id="prev"><i style="font-size: 12px;" class="icon-chevron-left"></i>&nbsp;<span>Previous</span></li>
            <li id="next"><i style="font-size: 12px;" class="icon-chevron-right"></i>&nbsp;<span>Next</span></li>
        </ul>
    </div>

</div>

</div>

<script type="text/x-kendo-template" id="imageCommentsTemplate">
    <div>
        <div>
            <span style="font-weight: bold;">#: user #</span>
            <span style="font-size: 11px;">#: time #</span>
        </div>
        <div class="imageCommentText">#: text #</div>
    </div>
</script>