<nav id="mainnav">
    <div class="container">
        <h1 class="xvidMediaBox_25px h1logo">Xvid MediaBox</h1>

        <ul class="nav nav-pills">
            <li id="saveCrop">
                <a>
                    <i class="icon-crop"></i>&nbsp;<span>Save crop</span>
                </a>
            </li>
            <li id="clearCrop">
                <a>
                    <i class="icon-crop"></i>&nbsp;<span>Clear crop</span>
                </a>
            </li>
            <li id="addTag">
                <a>
                    <i class="icon-tag"></i>&nbsp;<span>Add tag</span>
                </a>
            </li>
            <li id="back">
                <a>
                    <i class="icon-remove"></i>&nbsp;<span>Back</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="container">

    <div id="image-meta">
        <div class="navbar-inner">

            <ul class="nav nav-pills pull-left">
                <li>
                    <a>
                        <b>Order:</b> <span class="order"></span>
                    </a>
                </li>
                <li>
                    <a class="download" href="#">
                        <span class="name"></span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="resolution"></span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="size"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-pills pull-right">
                <li id="fullscreen">
                    <a>
                        <i style="font-size: 12px;" class="icon-fullscreen"></i>&nbsp;<span>Fullscreen</span>
                    </a>
                </li>
                <li id="prev">
                    <a>
                        <i style="font-size: 12px;" class="icon-chevron-left"></i>&nbsp;<span>Previous</span>
                    </a>
                </li>
                <li id="next">
                    <a>
                        <i style="font-size: 12px;" class="icon-chevron-right"></i>&nbsp;<span>Next</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div id="splitter">
        <div id="preview-div-img"></div>
    </div>

    <div id="image-cloud">
        <h3>Selected</h3>
        <div id="image-crops"></div>

        <h3>Tags</h3>
        <div id="image-tags"></div>

        <h3>Comments</h3>

        <div id="image-comment-form">
            <textarea id="image-comment-editor" class="k-content span12"></textarea>
        </div>
        <div>
            <button id="image-comment-save" class="k-button">Save</button>
        </div>

        <div id="image-comments"></div>
    </div>
</section>




<div id="crop-object" style="display: none;">
    <div class="control-group" id="div-crop-object-text">
        <input type="text" id="crop-object-text" style="margin-top: 20px; width: 270px;">
    </div>
    <hr />
    <div style="text-align: right;">
        <button id="crop-object-close" class="k-button">Cancel</button>
        <button id="crop-object-save" class="k-button">Save</button>
    </div>
</div>

<div id="image-tag" style="display: none;">
    <div class="control-group" id="div-image-tag-text">
        <input type="text" id="image-tag-text" style="margin-top: 20px; width: 270px;">
    </div>
    <hr />
    <div style="text-align: right;">
        <button id="image-tag-close" class="k-button">Cancel</button>
        <button id="image-tag-save" class="k-button">Save</button>
    </div>
</div>

<script type="text/x-kendo-template" id="imageCommentsTemplate">
    <div>
        <div>
            <span style="font-weight: bold;">#: user #</span>
            <span style="font-size: 11px;">#: time #</span>
        </div>
        <div class="imageCommentText">#= text #</div>
    </div>
</script>
