<div id="leftSide">

    <ul id="left-menu" class="nav nav-pills">
        <li>
            <a class="left-menu-section" data-id="treeview">
                <i class="icon-home"></i>
            </a>
        </li>
        <li>
            <a class="left-menu-section" data-id="player">
                <i class="icon-music"></i>
            </a>
        </li>
    </ul>

    <div id="treeview" class="left-section"></div>

    <div id="left-player" style="display: none;">
            {% include "/views/site/music.html" %}
    </div>

</div>