<nav id="mainnav">
    <div class="container">
        <h1 class="xvidMediaBox_25px h1logo">Xvid MediaBox</h1>
    </div>
</nav>

<div class="form container">
    <form method="post" action="/site/login/">

        {% if error %}
            <div class="alert alert-error">
                Login/password incorrect
            </div>
        {% endif %}

        <div class="row">
            <input type="text" name="LoginForm[username]" placeholder="login" />
        </div>

        <div class="row">
            <input type="text" name="LoginForm[password]" placeholder="password" />
        </div>

        <div class="row buttons">
            <input type="submit" name="submit" class="btn btn-primary" value="Login">
        </div>

    </form>
</div>