<nav id="mainnav">
    <div class="container">
        <h1 class="xvidMediaBox_25px h1logo">Xvid MediaBox</h1>
    </div>
</nav>

<div class="form container" id="LoginForm" style="padding: 20px 0 0 20px;">
    <div id="LoginForm_error" class="alert alert-error" style="display: none;">
        Login/password incorrect
    </div>

    <div class="row">
        <input type="text" id="LoginForm_username" placeholder="login" />
    </div>

    <div class="row">
        <input type="password" id="LoginForm_password" placeholder="password" />
    </div>

    <div class="row buttons">
        <input type="button" id="LoginForm_submit" class="btn btn-primary" value="Login">
        <input type="hidden" id="LoginForm_session" value="" />
    </div>
</div>