{%- extends "fragments/base.html" %}
{% block title %}Xvid Mediabox{% endblock %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
function choose(video_file) {
    var video = document.getElementById("video");
    var video_source = document.getElementById("video_source");
    var src = '{{ mbclienturl }}/files/' + video_file+"?access_token={{ access_token }}&master_key="+window.name;
    video_source.setAttribute('src', src);
    video.load();
    video.play();
}
</script>
<div class="row-fluid">
<div class=span4 style="padding-left:10px;">
<h1 style="font-family:'Comic Sans MS';font-size:72px;margin-top:10px;">
<font color=red>m</font><font color=blue>e</font><font color=green>d</font><font color=orange>i</font><font color=yellow>a</font><font color=green>b</font><font color=blue>o</font><font color=red>x</font>
</h1>
</div>
<script>
</script>
<div id="uploadDiv" class="span8" style="margin-top:20px;margin-bottom:40px;">

    <form enctype="multipart/form-data" method="post" class="form-inline"
        style="padding:10px;padding-left:20px;border:2px solid green;margin-right:20px">
    <input required type="file" name="filename" size=30 class="btn btn-file">
    <input  type="hidden" name="mbclienturl" value="{{ mbclienturl }}">
    <label for="block_size">Block Size:</label>
    <select name="block_size" class="input-small">
        <option value="18">256KB</option>
        <option value="20">1MB</option>
        <option value="22" selected>4MB</option>
    </select>
    <label for="kn">Encoding Ratio:</label>
    <select name="kn" class="input-small">
        <option value="4/5" selected>4/5</option>
        <option value="8/12">8/12</option>
        <option value="16/24">16/24</option>
    </select>
    <input id="uploadFile" type="button" value="Upload Into Mediabox" class="btn">
    </form>
</div>
</div>

<div class="row-fluid">
    <div class=span4 style="padding-left:10px;">
        <h3>Your Mediabox Contents</h3>
        <ol>
        {% for file in files %}
        
        <li style="cursor:hand; cursor:pointer">
            <div id='tooltip{{loop.index}}' onclick=choose("{{ file['_id']['$oid'] }}") style="display:inline">
            
            {{ file['Pipeline']['file_name'] }}
            </div>
        </li>
        {% endfor %}
        </ol>
    </div>
    
    <div class="span6 offset1">
        <video id="video" width="480" height="360" controls="controls" preload="none" 
            poster="http://weather.stives-town.info/images/clouds/cululo_nimbus.jpg">
          <source id="video_source" src="" type="video/ogg">
        Your browser does not support the video tag.
        </video> 
    </div>
    
</div>
{% endblock %}
{% block footerscript %}
"app/mediabox-demo"
    
{% endblock %}