<div style="display: none;" id="topMenuIndexTemplate">
    <li class="dropdown fs-actions">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown">
            Actions <i class="icon-list-alt"></i>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="copy">
                <a><i class="icon-copy"></i> Copy</a>
            </li>
            <li class="past">
                <a><i class="icon-paste"></i> Paste</a>
            </li>
            <li class="delete">
                <a><i class="icon-remove"></i> Delete</a>
            </li>
        </ul>
    </li>

    <li id="newDirWin">
        <a><i class="icon-folder-open"></i> New Folder</a>
    </li>
    <li class="slideshow">
        <a><i class="icon-fullscreen"></i> Slideshow</a>
    </li>


    <li class="nav pull-right">
        <ul class="files-adv-actions nav nav-pills">

            <li class="advanced-panel-show upload upload-empty">
                <a><i class="icon-upload"></i> Upload</a>
            </li>
            <li class="dropdown upload-isset" style="display: none;">
                <a class="dropdown-toggle upload-dropdown-show" role="button" data-toggle="dropdown">
                    <i class="icon-uploadalt"></i> Upload
                    [<span class="uploadCount">0</span>]
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <div>
                            <a class="k-button k-upload-button advanced-panel-show upload">Show upload</a>
                        </div>
                        <div class="upload-dropdown">
                            <div class="percDropdown"></div>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="advanced-panel-show buffer">
                <a><i class="icon-paste"></i> Buffer [<span class="bufferCount">0</span>]</a>
            </li>

        </ul>
    </li>
</div>



<div style="display: none;" id="topMenuTrashTemplate">
    <li id="trash-restore-all">
        <a><i class="icon-undo"></i> Restore All</a>
    </li>
    <li id="trash-remove-all">
        <a><i class="icon-trash"></i> Delete All</a>
    </li>
</div>
