<div class="parent_popup" id="video-preview">

<div style="position: fixed; top: 0; margin: 0 auto; width: 100%;">

    <div style="overflow: hidden; padding: 8px 10px 2px 10px;" class="">
        <ul class="nav nav-pills pull-left" style="margin-bottom: 0;">
            <div id="video-meta">
                <div><b>Order:</b> <span class="order"></span></div>
                <div><a class="download" href="#"><span class="name"></span></a></div>
                <div><span class="size"></span></div>
            </div>
        </ul>

        <ul class="nav nav-pills pull-right" style="margin-bottom: 0;">
            <li id="back"><i style="font-size: 12px;" class="icon-remove"></i>&nbsp;<span>Close</span></li>
        </ul>
    </div>

    <div id="preview-scroll" style="overflow: hidden; width: 100%;">
        <div style="padding: 20px; margin: 5px auto;" id="preview-scroll-right">
            <video id="video-player" width="640" height="480" src="" type="" controls="controls" preload="true" autoplay="true"></video>
        </div>
    </div>
</div>

</div>