<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- the styles -->
    <link href="/css/xvid.css" rel="stylesheet">
    <link href="/css/mediabox/mediabox.css" rel="stylesheet">
    <link href="/css/jquery.jscrollpane.css " rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <script src="/js/json2.js"></script>
    <![endif]-->
    <title>Mediabox</title>
</head>
<body>

<div id="xvidbar" class="metanav navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-right">
                {% if App.user.id %}
                <li class="mediabox-show">
                    <a href="#">Mediabox</a>
                </li>

                <li>
                    <a href="/site/logout/">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div id="mx-main" class="page">
    {{ content|raw }}
</div>

<div id="advanced-uploader" style="display: none;" class="mx-advanced page">
    {% include "/views/site/uploader.html" %}
</div>

<div id="advanced-buffer" style="display: none;" class="mx-advanced page">
    {% include "/views/site/buffer.html" %}
</div>

<div id="advanced-image" style="display: none;" class="mx-advanced page">
    {% include "/views/site/image-preview.html" %}
</div>

<div id="advanced-video" style="display: none;" class="mx-advanced page">
    {% include "/views/site/video-preview.html" %}
</div>

<div id="advanced-settings" style="display: none;" class="mx-advanced page">
    {% include "/views/site/settings.html" %}
</div>

<div id="scrollup"><i class="icon-angle-up"></i></div>

<footer id="pageFooter" class="container">
    Mediabox beta (05.2014)
    <div class="pull-right">
        <a href="https://github.com/Zazza/mediabox-php-yii"><i class="icon-github"></i> Github</a>
        <br />
    </div>
</footer>

<script data-main="/js/common" data-slug="mediabox-index" src="/js/require.js"></script>
</body>
</html>